body {
  margin: 0px;
  font-family: Arial;
}

h1 {
  text-align: center;
}

div {
  background: #111;
  color: white;
  padding: 40px;
  margin-bottom: 20px;
  margin-left: 60px;
  border-radius: 4px;
}

.preco {
  color: #febe01;
}

a {
  background: #febe01;
  padding: 10px;
  text-decoration: none;
  color: #332200;
  border-radius: 4px;
}

p {
  color: #b2b2b2;
}